body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.header{
  background-image: url(assets/header.png);
}
header{
  background-color: black;
}
h1{
  text-align: center;
  color: white;
}
p{
  color: white;
}
